* {
    box-sizing: border-box;
}
body{
    width: 960px;
    padding: 0 10px;
    margin: 24px auto;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 22px;
}
main{
    margin-top: 22px;
}
.logo, .contact, .more{
    height: 108px;
    background-color: #777777;
    margin-bottom: 20px;
}
.logo{
    width: 12%;
}
.contact{
    width: 33%;
}
.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 24px;
}

.more{
    width: 50%;
    padding: 24px;
}
header {
    display: flex;
    width: 100%;
}
a{
    font-size: 14px;
    float: right;
    color: white;
}
ul{
    padding: 0;
    margin: 0;
}
ul.grey > li{
    list-style-type: none;
}
.left{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    /* padding: 14px 32px 14px 14px; */
    width: 184px;
    /* background-color: #777777; */
    color: white;
    float: left;
}
.grey {
    width: 170px;
    padding: 14px;
    background-color: #777777;
}
.right{
    width: 745px;
    /* margin-left: 20px; */
}
.intro{
    background-color: #DCDCDC;
    padding: 22px 69px 19px 21px;
}
.flex {
    margin: 19px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 129px);
    gap: 24px;
}
.flex img {
    width: 133px;
    height: 152px;
}
.images > img {
    display: inline-block; 
    width: 133px;
    height: 153px;
    margin: 21px;
}
.text-company {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    gap: 16px;
}
.info-left, .info-right{
    padding: 22px 21px;
    background-color: #DCDCDC;
}
footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    margin-top: 24px;
}
.foot-rigth{
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns: 1fr; */
}
.foot-left{
    padding: 4% 8%;
    margin-right: 10%;
    background-color: #777777;
}
.foot-center{
    background-color: #777777;
    color: white;
    padding: 4% 11%;
    margin-right: 10%;
}
.foot-left ul{
    column-count: 2;
    color: white;
}

div.foot-center > ul{
    list-style-type: square;
}
div.intro > ul{
    list-style-type: circle;
}
.psd-info{
    padding: 10px 0px 10px 60px;
}